<div class="title-container">
  <h1>Add New Password</h1>
  <p class="subtitle">Set a new password to log in.</p>
</div>

<form class="register-form">
  <div class="single-input">
    <label for="password">New Password</label>
    <p-password
      [toggleMask]="true"
      [fluid]="true"
      inputId="newpassword"
      placeholder="Enter your New Password"
      [feedback]="false"
    />
  </div>
  <div class="single-input">
    <label for="password">Confirm New Password</label>
    <p-password
      [toggleMask]="true"
      [fluid]="true"
      inputId="confirmpassword"
      placeholder="Enter your new Password"
      [feedback]="false"
    />
  </div>

  <div class="btn-submit-container">
    <button type="submit" class="btn-submit">Change</button>
  </div>
</form>
