<p class="description">
  Regular users can sign in to browse, shop, and track orders.
</p>
<form class="login-form">
  <div class="single-input">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Enter your Email"
      pInputText
      [fluid]="true"
    />
  </div>
  <div class="single-input">
    <label for="password">Password</label>
    <p-password [toggleMask]="true"  [fluid] = "true"  inputId="password" placeholder="Enter your Password" [feedback]="false"
    />
  </div>
  <div class="form-options">
    <label class="remember-me">
      <p-checkbox  value="Remember me"  size="small" />
      <span>Remember me</span>
    </label>
    <a href="#" class="forgot-password">Forgot Password?</a>
  </div>
  <div class="btn-submit-container">
    <button type="submit" class="btn-submit">Login</button>

  </div>
</form>
