<div class="form-label-group">
  <input
    [ngClass]="controlDir.control?.touched ? (controlDir.control!.valid ? 'is-valid' : 'is-invalid') : null"
    [type]="type"
    [value]="value"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    #input
    class="form-control"
    [placeholder]="label"
  />
  <div *ngIf="controlDir?.control?.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
  <label>{{ label }}</label>

  <div class="invalid-feedback" *ngIf="controlDir?.control?.touched && !controlDir?.control?.valid">
    <span *ngIf="controlDir.control?.errors?.['required']">{{ label }} is required</span>
    <span *ngIf="controlDir.control?.errors?.['pattern']">Invalid email address</span>
  </div>

  <div class="invalid-feedback d-block" *ngIf="controlDir?.control?.dirty && !controlDir?.control?.valid">
    <span *ngIf="controlDir.control?.errors?.['emailExists']">Email address is in use</span>
  </div>
</div>
