<div class="product-card">
  <img class="product-image" src="{{ product.pictureUrl }}" width="295" height="285" />

  <div class="details">
    <div class="top-row">
      <span class="brand">{{ product.category }}</span>
      <!-- <span class="sku">{{product.category}}</span> -->
    </div>
    <h3 class="title">{{ product.name }}</h3>
    <p class="specs">
            {{ product.description }}
    </p>

    <div class="price">{{product.price}} <span class="currency">SAR</span></div>

    <div class="actions">
      <button (click)="addItemToBasket()" class="add-to-cart">
        <i class="pi pi-cart-plus"></i> Add To Cart
      </button>
      <!-- <button class="wishlist">
        <i class="pi pi-heart icon-heart"></i>
      </button> -->
    </div>
  </div>
</div>

<p-toast position="top-left" key="tl"></p-toast>
