<div class="header-container">
  <nav class="categories">
  <button class="category-btn active">Groceries <span>&#x25BE;</span></button>
  <button class="category-btn">Premium Fruits <span>&#x25BE;</span></button>
  <button class="category-btn">Home & Kitchen <span>&#x25BE;</span></button>
  <button class="category-btn">Fashion <span>&#x25BE;</span></button>
  <button class="category-btn">Electronics <span>&#x25BE;</span></button>
  <button class="category-btn">Beauty <span>&#x25BE;</span></button>
  <button class="category-btn">Home Improvement <span>&#x25BE;</span></button>
  <button class="category-btn">Sports, Toys & Luggage <span>&#x25BE;</span></button>
</nav>
</div>