<div class="forget-container">
  <h1>Did you forget your password?</h1>
  <p class="subtitle">Enter your email to set a new password.</p>

  <div class="lock-icon">
    <img src="./assets/images/forget-password.svg" alt="" />
  </div>
</div>

<form class="register-form">
  <div class="single-input">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Enter your Email"
      pInputText
      [fluid]="true"
    />
  </div>

  <div class="btn-submit-container">
    <button type="submit" class="btn-submit">Send</button>
  </div>
</form>
