<p-toast></p-toast>

<div class="forget-container">
  <h1>Did you forget your password?</h1>
  <p class="subtitle">Enter your email to set a new password.</p>

  <div class="lock-icon">
    <img src="./assets/images/forget-password.svg" alt="" />
  </div>
</div>

<form class="register-form">
  <div class="single-input">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" pInputText [(ngModel)]="email" placeholder="Enter your email"
      class="p-inputtext-sm" />
  </div>

  <div class="btn-submit-container">
    <button type="submit" class="btn-submit" (click)="onSubmit()">Send</button>
  </div>
</form>
