<div class="foot-container">
  <div class="white-space"></div>
  <footer>
    <div class="footer-content">
      <div class="section">
        <h3>CUSTOMER SERVICES</h3>
        <div class="contact-box">
          <div class="icon-container">
            <img src="./assets/icons/messages.svg" alt="" />
          </div>

          <div>
            <strong>Contact Us</strong>
            <p>Mon-Fri from 9-17 or via telephone 962-123-45-987</p>
          </div>
        </div>
      </div>

      <div class="section">
        <h3>ABOUT US</h3>
        <ul>
          <li><a href="#">Happy Hour</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Maintenance</a></li>
          <li><a href="#">Refund</a></li>
          <li><a href="#">Policy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>

      <div class="section">
        <h3>BUSINESS</h3>
        <ul>
          <li><p>NubiqAol.Com</p></li>
          <li><p>King Fahad St</p></li>
          <li><p>Block 148 Abu Al Haj Complex</p></li>
          <li><p>+966-790-1800-13</p></li>
        </ul>
        <img
          style="margin-top: 16px; height: 54px"
          src="./assets/images/Nubiq-Logo.svg"
          alt=""
        />
      </div>

      <div class="section">
        <h3>ACCOUNT</h3>
        <ul>
          <li><a href="#">Complaints</a></li>
          <li><a href="#">Create Refund Case</a></li>
          <li><a href="#">Gift Card</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="newsletter">
    <div class="newsletter-text">
      <h2>Sign Up For Our Newsletter</h2>
      <p>
        Receive exciting news and be the first to hear about our new offers by
        email once a week.
      </p>
      <form [formGroup]="newslettersForm" (ngSubmit)="send()">
        <div class="form">
          <input formControlName="userName" type="text" placeholder="Name" />
          <input formControlName="email" type="email" placeholder="Email" />
          <button [disabled]="!newslettersForm.valid" type="submit">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<p-toast></p-toast>
