footer {
  background: #fafbfe;
  padding: 10rem 6rem 4rem 6rem;
  position: relative;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  color: #1f2937;

  h3 {
    font-size: 0.9rem;
    color: #5e7790;
    margin-bottom: 0.8rem;
    font-weight: 700;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    padding-left: 5px;
  }

  p {
    font-size: 0.95rem;
    color: #374151;
    text-decoration: none;
  }

  .contact-box {
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 90px;
    gap: 25px;
    padding: 20px;
    box-shadow: 0px 67px 116px 0px rgba(0, 0, 0, 0.02);
    .icon-container {
      padding: 10px;
      border-radius: 50%;
      background-color: rgba(241, 245, 251, 1);
      width: 44px;
      height: 44px;
    }

    strong {
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      text-transform: capitalize;
      color: rgba(10, 37, 64, 1);
    }

    p {
      margin-top: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: rgba(66, 84, 102, 1);
    }
  }

  .auth-buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

    .filled {
      background-color: #4f46e5;
      color: white;
      padding: 0.4rem 1rem;
      border-radius: 0.3rem;
      border: none;
    }

    .outlined {
      border: 1px solid #4f46e5;
      background: transparent;
      color: #4f46e5;
      padding: 0.4rem 1rem;
      border-radius: 0.3rem;
    }
  }
}
ul {
  list-style-type: none;
  li {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    padding:  5px;
    a{
      text-decoration: none;
      color: #0a2540;

    }
  }
}

.newsletter {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-color);
  color: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 950px;
  .newsletter-text {
    flex: 1;
    min-width: 300px;

    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: 0%;
      vertical-align: middle;
      text-transform: capitalize;
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 1rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      input {
        padding: 0.6rem 1rem;
        border-radius: 0.4rem;
        border: 1px solid white;
        background: transparent;
        color: white;
        min-width: 250px;
        max-width: 600px;
        &::placeholder {
          color: #e0e7ff;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          text-transform: capitalize;
        }
      }

      button {
        background-color: #6c95ff;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 1.5%;
        text-align: center;
        text-transform: capitalize;
        border-radius: 4px;
        padding: 14px 20px;
        transition: background-color 0.3s ease, opacity 0.3s ease;

        &:disabled {
          background-color: #b6c5f2;
          cursor: not-allowed;
          opacity: 0.7;
        }
      }

    }
  }
}
.white-space {
  background-color: white;
  height: 300px;
  width: 100%;
}

.foot-container {
  position: relative;
}
