
<h1>Welcome!</h1>
<div style="display: flex; justify-content: center;align-items: center;">
  <app-tabs [activeTab]="'register'"></app-tabs>
</div>

@if(tempRole() == 'BusinessManager'){
  <p class="description">
    Are you a supplier? Log in to manage your listings and sales.  </p>
}@else{
  <p class="description">
    Regular users can sign in to browse, shop, and track orders.
  </p>
}

<form class="register-form" [formGroup]="registerForm" (submit)="register()">
  <div class="single-input">
    <label for="email">Email Address</label>
    <input
      type="email"
      id="email"
      placeholder="Enter your Email Address"
      pInputText
      [fluid]="true"
      formControlName="email"
      [ngClass]="{
        'ng-invalid': email!.invalid && (email!.touched || email!.dirty),
        'ng-dirty': email!.invalid && (email!.touched || email!.dirty),
      }"
    />
  </div>
  <div class="single-input">
    <label for="username">User name</label>
    <input
      type="text"
      id="username"
      placeholder="Enter your User name"
      pInputText
      [fluid]="true"
      formControlName="username"
      [ngClass]="{
        'ng-invalid':
          username!.invalid && (username!.touched || username!.dirty),
        'ng-dirty': username!.invalid && (username!.touched || username!.dirty),
      }"
    />
  </div>

  <div class="single-input">
    <label for="password">Password</label>
    <p-password
      [toggleMask]="true"
      [fluid]="true"
      inputId="password"
      placeholder="Enter your Password"
      [feedback]="false"
      formControlName="password"
      [ngClass]="{
        'ng-invalid': password!.invalid && (password!.touched || password!.dirty),
        'ng-dirty': password!.invalid && (password!.touched || password!.dirty),
      }"
    />
  </div>

  <div class="btn-submit-container">
    <button type="submit" class="btn-submit">Register</button>
  </div>
</form>
