<header class="header">
  <div class="logo">
    <img src="assets/images/Nubiq-Logo.svg" alt="Nubiq" />
  </div>
  <div class="nav-text"  style="cursor: pointer;">
    <img   [src]=" profile.profileImage ? profile.profileImage : './assets/icons/bag.svg' "alt="" class="profile-avatar"    />
    <p  class="m-auto">
      <span>Hello, {{ this.profile.firstName }} ,</span>you are logged in as a supplier.
    </p>
    <button  class="register" (click)="authService.logOut()">
      Logout
    </button>
  </div>

</header>

<div class="card flex justify-center mt-3" style="border: none ;background: white;" >
  <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
</div>
<div class="profile-container">
  <div class="profile-header">
    <div class="profile-info">
      <div class="profile-info" (click)="fileInput.click()">
        <img
          [src]="
            profile.profileImage
              ? profile.profileImage
              : './assets/icons/bag.svg'
          "
          alt="Profile"
          class="profile-avatar"
        />

        <input
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          #fileInput
          hidden
        />
      </div>

      <div>
        <div class="profile-name">{{ profile.firstName }}</div>
        <div class="profile-email">{{ profile.email }}</div>
      </div>
    </div>
    <button class="edit-button" (click)="updateProfile()">Edit</button>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label>First Name</label>
      <input
        type="text"
        placeholder="Your First Name"
        [(ngModel)]="profile.firstName"
      />
    </div>

    <div class="input-group">
      <label>Phone Number</label>
      <input
        type="number"
        placeholder="Your Phone Number"
        [(ngModel)]="profile.phoneNumber"
      />
    </div>
    <div class="input-group">
      <label>Address Name</label>
      <input
        type="text"
        placeholder="Your Address Name"
        [(ngModel)]="Address.firstName"
      />
    </div>
    <div class="input-group">
      <label>Country</label>
      <input
        type="text"
        placeholder="Your Country"
        [(ngModel)]="Address.country"
      />
    </div>
    <div class="input-group">
      <label>City</label>
      <input type="text" placeholder="Your City" [(ngModel)]="Address.city" />
    </div>
    <div class="input-group">
      <label>Street</label>
      <input
        type="text"
        placeholder="Your Street"
        [(ngModel)]="Address.street"
      />
    </div>

    <!-- <div class="form-group">
      <label class="form-label">Gender</label>
      <select class="form-select">
        <option value="" disabled selected>Choose Your Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div> -->
  </div>
</div>
@if(!(authService.getUserRole() == 'Admin')){
  <app-footer ></app-footer>
}

<p-toast></p-toast>
