<div class="container">
  <div class="search-filter">
    <div class="search-bar">
      <input type="text" placeholder="Search Products" />
      <img class="search-icon" src="./assets/icons/search-icon.svg" alt="" />
    </div>

    <div class="actions">
      <button class="sort-button">
        <i style="color: #1e293b" class="pi pi-sort-alt"></i>
      </button>

      <div class="view-toggle">
        <button
          class="list"
          [class.active]="view === 'list'"
          (click)="setView('list')"
        >
          <i class="pi pi-bars"></i>
          List
        </button>
        <button
          class="grid"
          [class.active]="view === 'grid'"
          (click)="setView('grid')"
        >
          <i class="pi pi-th-large"> </i>

          Grid
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <aside class="filters">
      <div class="side-container">
        <div class="filter-header">
          <h3>Filter</h3>
          <a href="#">Reset</a>
        </div>

        <div class="filter-section">
          <div class="subtitle">
            <h4>Brands</h4>
          </div>
          <div class="categories">
            <label><input type="checkbox" /> Category1</label>
            <label><input type="checkbox" /> Category1</label>
            <label><input type="checkbox" /> Category1</label>
            <label><input type="checkbox" checked /> Category1</label>
          </div>
        </div>

        <div class="filter-section">
          <div class="subtitle">
            <h4>Price range</h4>
          </div>
          <div class="categories">
            <div class="range-values">
              <span>{{ this.rangeValues[0] }}</span>
              <span>{{ this.rangeValues[1] }}</span>
            </div>
            <p-slider
              [(ngModel)]="rangeValues"
              [range]="true"
              [max]="2000"
              styleClass="w-56"
            />
          </div>
        </div>
      </div>

    </aside>

    <div class="products-grid" [ngClass]="view">
      @for(item of Products; track item.sku){
        <app-product-item [product]="item"></app-product-item>
      }
    </div>

  </div>
</div>
