<div class="container">
  <div class="search-filter">
    <div class="search-bar">
      <input
        (keyup)="onSearch()"
        type="text"
        placeholder="Search Products"
        #search
      />
      <img class="search-icon" src="./assets/icons/search-icon.svg" alt="" />
    </div>

    <div class="actions">
      <button class="sort-button">
        <i style="color: #1e293b" class="pi pi-sort-alt"></i>
      </button>

      <div class="view-toggle">
        <button
          class="list"
          [class.active]="view === 'list'"
          (click)="setView('list')"
        >
          <i class="pi pi-bars"></i>
          List
        </button>
        <button
          class="grid"
          [class.active]="view === 'grid'"
          (click)="setView('grid')"
        >
          <i class="pi pi-th-large"> </i>

          Grid
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <aside class="filters">
      <div class="side-container">
        <div class="filter-header">
          <h3>Filter</h3>
          <a (click)="onReset()">Reset</a>
        </div>

        <div class="filter-section">
          <div class="subtitle">
            <h4>Brands</h4>
          </div>
          <div class="categories">
            @for (item of brands; track item.id) {
              <label
                ><input
                  [checked]="shopParams.brandId === item.id"
                  (change)="onBrandSelected(item.id)"
                  type="checkbox"
                />
                {{ item.name }}</label
              >
            }
          </div>
        </div>
        <div class="filter-section">
          <div class="subtitle">
            <h4>Categories</h4>
          </div>
          <div class="categories">
            @for (item of types; track item.id) {
              <label
                ><input
                  [checked]="shopParams.typeId === item.id"
                  (change)="onTypeSelected(item.id)"
                  type="checkbox"
                />
                {{ item.name }}</label
              >
            }
          </div>
        </div>

        <div class="filter-section">
          <div class="subtitle">
            <h4>Price range</h4>
          </div>
          <div class="categories">
            <div class="range-values">
              <span>{{ this.rangeValues[0] }}</span>
              <span>{{ this.rangeValues[1] }}</span>
            </div>
            <p-slider
              [(ngModel)]="rangeValues"
              [range]="true"
              [max]="2000"
              styleClass="w-56"
            />
          </div>
        </div>
      </div>
    </aside>

    <div class="products-grid" [ngClass]="view">
      <app-product-item
        *ngFor="let product of products"
        [product]="product"
      ></app-product-item>
    </div>
  </div>
</div>
<app-custom-paginator></app-custom-paginator>
